#contact {
    background-color: $primary-color;
    color: white;
    margin-bottom: 20px;

    h3 {
        color: white;
    }
    .contact-form {
        padding: 30px 0;
        p {
            font-size: 30px;
            display: none;
            text-align: center;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 30px;

            @media all and (min-width: $large) {
                font-size: 12px;
                text-align: left;
                margin-left: 30px;
            }
            &.success {
                display: inline-block;
                color: green;
            }

            &.error {
                display: inline-block;
                color: red;
            }
        }
    }
    .contact-data {
        padding: 25px 0;

        .contact-item {
            @include flexbox;
            @include flex-align (center, center);
            text-transform: uppercase;

            .img-holder {
                text-align: center;
                width: 15%;
                margin-right: 10px;

                img {
                    width: 30px;
                }

                #phone {
                    width: 20px;
                }
            }
        }

        a {
            color: white;
        }
    }

    @media all and (min-width:$large) {
        .wrap-box {
            @include flexbox;

            .contact-data {
                flex-basis: 33%;
            }
            .contact-item {
                justify-content: flex-start;
            }

            .contact-form {
                text-align: left;
                flex-basis: 66%;
            }
        }
    }
}